<a href="https://colab.research.google.com/github/Brian342/JupyterLab/blob/main/pythonAIlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# checking the version of pandas and numpy installed using the following commands
import numpy as np
print(np.__version__)
import pandas as pd
print(pd.__version__)

2.0.2
2.2.2

In [3]:
# program to print a word
word = "Hello HCIA-Huawei Team"
print(word)

Hello HCIA-Huawei Team

In [4]:
# a program to define 2 variables, calculate their sum and display the result
num1 = 100
num2 = 90
sum = num1 + num2
print(f"The sum of {num1} + {num2} = {sum}")

The sum of 100 + 90 = 190

In [5]:
# write a program to define 2 tuples that contains only one element
tuple1 = (1,)
print(tuple1)

(1,)

In [6]:
# Write a programme to define a tuple with 5 elements and then use 'for loop' to print
sample = (1,2,3,4,6,7)
for t in sample:
  print(t)

1
2
3
4
6
7

In [7]:
# Define the variables x and y as list of numbers and z as a tuple
x = [1,2,3,4,5]
y = [11,12,13,14,15]
z = (21,22,23,24,25)

# a what is the value of 3 * x
print(3 * x)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [8]:
# what is the value of x+y
print(x+y)

[1, 2, 3, 4, 5, 11, 12, 13, 14, 15]

In [9]:
# what is the value of x-y
print(x-y)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [10]:
# what is the value of x[1]
print(x[1])

2

In [11]:
# what is the value of x[0]
print(x[0]
)

1

In [12]:
# what is the value of x[-1]
print(x[-1])

5

In [2]:
# write a code to create a python dictionary (the dict type) and print out the details.
Details = {"Names":["james","paul"],
           "phoneNumber":[723648617, 712783167]}
for key in Details.keys():
  print(key)
for value in Details.values():
  print(value)
for key, value in Details.items():
  print(key, value)

Names
phoneNumber
['james', 'paul']
[723648617, 712783167]
Names ['james', 'paul']
phoneNumber [723648617, 712783167]

In [3]:
# Adding two entires on the dictionary
Details["Names"].append("Regina")
Details["phoneNumber"].append(7892456719)
print(Details)

{'Names': ['james', 'paul', 'Regina'], 'phoneNumber': [723648617, 712783167, 7892456719]}

In [4]:
for key in Details.keys():
  print(key)
for value in Details.values():
  print(value)
for key, value in Details.items():
  print(key, value)

Names
phoneNumber
['james', 'paul', 'Regina']
[723648617, 712783167, 7892456719]
Names ['james', 'paul', 'Regina']
phoneNumber [723648617, 712783167, 7892456719]

In [6]:
Details

{'Names': ['james', 'paul', 'Regina'],
 'phoneNumber': [723648617, 712783167, 7892456719]}

In [7]:
# Create a data file listing members of HCIA_AI class and their counties
HCIA_Aldict = {"Names":["Brian", "John", "Paul"],
               "Counties":["Kiambu", "Kisumu", "Mombasa"]}
print(HCIA_Aldict)

{'Names': ['Brian', 'John', 'Paul'], 'Counties': ['Kiambu', 'Kisumu', 'Mombasa']}